body{
    background-color:lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.digit{
    font-size: 150px ;
    font-weight: 200;     
    color: black;
}
.txt{ 
    font-size: 25px;
    font-weight: bold ;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding:7px 25px;
    font-size: 15px;
    margin:0px  10px;
    background-color: red;
    color: white;
    border:  solid black;
    border-radius: 10px;
    cursor: pointer;
}
#start{
    background-color: #1abc9c;
}
#stop{
    background-color: #3498db;
}
#reset{
    background-color:green;
}